<!DOCTYPE html>
    <html>
        <head>
            <title>Hotel Reviews</title>
        </head>
        <body>
            <nav>
                <a href="{{ url_for('main') }}">Home</a>
                <a href="{{ url_for('refreshData') }}">Refresh</a>
                <a href="{{ url_for('cloudpage') }}">Word Cloud</a>
            </nav>
            <div class="main">
                <h1>Hotel Review Thing!!</h1>
                <div class=form id='viewData'>
                    <p>Select a Hotel:</p>
                    <form method="post" action='/'>
                        <select name='reviews'>
                            <option value="{{hotels[0]}}" selected>{{hotels[0]}}</option>
                            {% for hotel in hotels[1:] %}
                            <option value="{{hotel}}">{{hotel}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" name="btn_identifier" value="view_button">Submit</button>
                    </form>    
                </div>
            </div>
        </body>
    </html>

<style>
    body{
        background-color: white;
    }
    .main{
        margin: auto;
        width: 70%;
        background-color: #D1FAFF;
        padding: 10px;
        text-align: center;
        height: 90vh;
    }
    form{
        margin: auto;
        width: 50%;
        text-align: center;
    }
</style>

